<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" name="C:/Users/ThinkPad T480s/Desktop/Lebloom_Android/Lebloom_Android">
        <classes>
            <class name="AndroidTest.UserSignUpTest"/>
            <!-- Add more classes if needed -->
        </classes>
</test>
</suite>